.House-Components {
  font-family: Graphik;
}

@media (min-width: 768px) {
  .House-Components img {
    width: 24rem;
    height: 21rem;
  }

  .House-Intro {
    width: 21rem;
    height: 10rem;
  }

  .bed-bath {
    font-size: 12px;
    color: #718096;
  }

  .houseComp-price {
    size: 14px;
    color: #1a202c;
  }

  .houseComp-price span {
    color: #718096;
    font-size: 12px;
  }
}
